USE [GNX_Develop_Local]
GO
/****** Object:  Table [dbo].[CompraGas]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraGas](
	[Id_CompraGas] [int] IDENTITY(1,1) NOT NULL,
	[DiaGas] [date] NOT NULL,
	[Nominado] [decimal](16, 4) NOT NULL,
	[Confirmado] [decimal](16, 4) NULL,
	[Asignado] [decimal](16, 4) NULL,
	[Id_PuntoEntrega] [int] NOT NULL,
	[Id_Ruta] [int] NULL,
	[Id_Transaccion] [int] NULL,
	[Id_CompraSpot] [int] NULL,
	[Temporalidad] [varchar](50) NOT NULL,
	[Id_VentaGas] [int] NULL,
 CONSTRAINT [PK_CompraGas] PRIMARY KEY CLUSTERED 
(
	[Id_CompraGas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraSpot]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraSpot](
	[Id_CompraSpot] [int] IDENTITY(1,1) NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
	[Id_IndicePrecio] [int] NULL,
	[Precio] [decimal](16, 4) NULL,
	[Adder] [decimal](16, 4) NULL,
	[Cantidad] [decimal](16, 4) NULL,
	[Formula] [varchar](200) NULL,
	[TipoOperacion] [varchar](50) NULL,
 CONSTRAINT [PK_CompraSpot] PRIMARY KEY CLUSTERED 
(
	[Id_CompraSpot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consumo]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumo](
	[Id_Consumo] [int] IDENTITY(1,1) NOT NULL,
	[Id_Punto] [int] NOT NULL,
	[EnergiaGJ] [decimal](13, 6) NULL,
	[ConsumoM3] [decimal](13, 6) NULL,
	[PoderCalorificoMJ] [decimal](10, 6) NULL,
	[DiaGas] [date] NOT NULL,
	[Demanda] [decimal](13, 6) NULL,
 CONSTRAINT [PK_Consumo] PRIMARY KEY CLUSTERED 
(
	[Id_Consumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[Id_Contrato] [int] IDENTITY(1,1) NOT NULL,
	[Id_TipoContrato] [tinyint] NOT NULL,
	[Id_Parte] [int] NOT NULL,
	[Id_Contraparte] [int] NOT NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NOT NULL,
	[Id_EstadoContrato] [int] NOT NULL,
	[LeyAplicable] [varchar](50) NULL,
	[FechaDePago] [varchar](50) NULL,
	[FechaDeFirma] [date] NULL,
	[Id_Moneda] [int] NOT NULL,
	[Observaciones] [varchar](300) NULL,
	[Codigo] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Contrato] PRIMARY KEY CLUSTERED 
(
	[Id_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratoPlanta]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratoPlanta](
	[Id_ContratoPlanta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Contrato] [int] NOT NULL,
	[ID_Planta] [int] NOT NULL,
 CONSTRAINT [PK_ContratoPlanta] PRIMARY KEY CLUSTERED 
(
	[Id_ContratoPlanta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContratoPlanta_ID_Contrato_ID_Planta] UNIQUE NONCLUSTERED 
(
	[ID_Contrato] ASC,
	[ID_Planta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoContrato]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoContrato](
	[Id_EstadoContrato] [int] IDENTITY(1,1) NOT NULL,
	[Nemonico] [varchar](25) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoContrato] PRIMARY KEY CLUSTERED 
(
	[Id_EstadoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[ID_Planta] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Planta] PRIMARY KEY CLUSTERED 
(
	[ID_Planta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Planta_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productor]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productor](
	[Id_Productor] [int] NOT NULL,
	[X_Cenagas] [varchar](50) NULL,
	[X_Esentia] [varchar](50) NULL,
	[Codigo_Quorum] [varchar](5) NULL,
	[NotificaBaseload] [bit] NOT NULL,
 CONSTRAINT [PK_Productor] PRIMARY KEY CLUSTERED 
(
	[Id_Productor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punto]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punto](
	[Id_Punto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[ID_Planta] [int] NULL,
	[ID_Gasoducto] [int] NULL,
 CONSTRAINT [PK_Punto] PRIMARY KEY CLUSTERED 
(
	[Id_Punto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruta]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruta](
	[Id_Ruta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Contrato] [int] NOT NULL,
	[ID_PuntoRecepcion] [int] NOT NULL,
	[ID_PuntoEntrega] [int] NOT NULL,
	[ID_UnidadEnergia] [int] NOT NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NULL,
	[Fuel] [decimal](12, 4) NOT NULL,
	[ID_TipoServicioTransporte] [int] NULL,
	[Cantidad] [decimal](12, 3) NOT NULL,
	[PrecioNegociado] [decimal](18, 4) NULL,
	[Id_UnidadPrecioEnergia] [int] NULL,
	[FormulaPrecio] [varchar](200) NULL,
	[CargoReserva] [decimal](10, 4) NOT NULL,
	[CargoAdministrativo] [decimal](10, 4) NOT NULL,
	[CargoUso] [decimal](10, 4) NOT NULL,
	[CargoOtros] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_Ruta] PRIMARY KEY CLUSTERED 
(
	[Id_Ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCompraSpot]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCompraSpot](
	[Id_TipoCompraSpot] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Nemonico] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoCompraSpot] PRIMARY KEY CLUSTERED 
(
	[Id_TipoCompraSpot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoContrato]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContrato](
	[Id_TipoContrato] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nemonico] [varchar](25) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoContrato] PRIMARY KEY CLUSTERED 
(
	[Id_TipoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPunto]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPunto](
	[Id_TipoPunto] [int] IDENTITY(1,1) NOT NULL,
	[Nemonico] [varchar](25) NOT NULL,
	[Rol] [char](1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TipoPunto] PRIMARY KEY CLUSTERED 
(
	[Id_TipoPunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoServicio]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[Id_TipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoServicio] PRIMARY KEY CLUSTERED 
(
	[Id_TipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTransaccion]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTransaccion](
	[Id_TipoTransaccion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoTransaccion] PRIMARY KEY CLUSTERED 
(
	[Id_TipoTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 3/1/2026 11:26:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[Id_Transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Id_IndicePrecio] [int] NULL,
	[Id_PuntoEntrega] [int] NOT NULL,
	[Id_TipoTransaccion] [int] NOT NULL,
	[Id_TipoServicio] [int] NOT NULL,
	[Id_Contrato] [int] NOT NULL,
	[Adder] [decimal](18, 4) NULL,
	[Fuel] [decimal](18, 6) NOT NULL,
	[TarifaTransporte] [decimal](18, 6) NOT NULL,
	[FormulaPrecio] [nvarchar](200) NULL,
	[PrecioFijo] [decimal](18, 4) NULL,
	[Volumen] [decimal](18, 6) NOT NULL,
	[Observaciones] [nvarchar](200) NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NOT NULL,
	[Id_MonedaPrecioFijo] [int] NULL,
	[Id_UnidadPrecioEnergiaAdder] [int] NULL,
	[Id_UnidadEnergiaVolumen] [int] NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[Id_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contrato] ADD  DEFAULT ('') FOR [Codigo]
GO
ALTER TABLE [dbo].[Productor] ADD  CONSTRAINT [DF_Productor_NotificaBaseload]  DEFAULT ((0)) FOR [NotificaBaseload]
GO
ALTER TABLE [dbo].[Ruta] ADD  DEFAULT ((0)) FOR [CargoReserva]
GO
ALTER TABLE [dbo].[Ruta] ADD  DEFAULT ((0)) FOR [CargoAdministrativo]
GO
ALTER TABLE [dbo].[Ruta] ADD  DEFAULT ((0)) FOR [CargoUso]
GO
ALTER TABLE [dbo].[Ruta] ADD  DEFAULT ((0)) FOR [CargoOtros]
GO
ALTER TABLE [dbo].[CompraGas]  WITH CHECK ADD  CONSTRAINT [FK_CompraGas_CompraSpot] FOREIGN KEY([Id_CompraSpot])
REFERENCES [dbo].[CompraSpot] ([Id_CompraSpot])
GO
ALTER TABLE [dbo].[CompraGas] CHECK CONSTRAINT [FK_CompraGas_CompraSpot]
GO
ALTER TABLE [dbo].[CompraGas]  WITH CHECK ADD  CONSTRAINT [FK_CompraGas_PuntoEntrega] FOREIGN KEY([Id_PuntoEntrega])
REFERENCES [dbo].[Punto] ([Id_Punto])
GO
ALTER TABLE [dbo].[CompraGas] CHECK CONSTRAINT [FK_CompraGas_PuntoEntrega]
GO
ALTER TABLE [dbo].[CompraGas]  WITH CHECK ADD  CONSTRAINT [FK_CompraGas_Ruta] FOREIGN KEY([Id_Ruta])
REFERENCES [dbo].[Ruta] ([Id_Ruta])
GO
ALTER TABLE [dbo].[CompraGas] CHECK CONSTRAINT [FK_CompraGas_Ruta]
GO
ALTER TABLE [dbo].[CompraGas]  WITH CHECK ADD  CONSTRAINT [FK_CompraGas_Transaccion] FOREIGN KEY([Id_Transaccion])
REFERENCES [dbo].[Transaccion] ([Id_Transaccion])
GO
ALTER TABLE [dbo].[CompraGas] CHECK CONSTRAINT [FK_CompraGas_Transaccion]
GO
ALTER TABLE [dbo].[CompraGas]  WITH CHECK ADD  CONSTRAINT [FK_CompraGas_VentaGas] FOREIGN KEY([Id_VentaGas])
REFERENCES [dbo].[VentaGas] ([Id_VentaGas])
GO
ALTER TABLE [dbo].[CompraGas] CHECK CONSTRAINT [FK_CompraGas_VentaGas]
GO
ALTER TABLE [dbo].[CompraSpot]  WITH CHECK ADD  CONSTRAINT [FK_CompraSpot_IndicePrecio] FOREIGN KEY([Id_IndicePrecio])
REFERENCES [platts].[IndicePrecio] ([ID_IndicePrecio])
GO
ALTER TABLE [dbo].[CompraSpot] CHECK CONSTRAINT [FK_CompraSpot_IndicePrecio]
GO
ALTER TABLE [dbo].[CompraSpot]  WITH CHECK ADD  CONSTRAINT [FK_CompraSpot_Proveedor] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Productor] ([Id_Productor])
GO
ALTER TABLE [dbo].[CompraSpot] CHECK CONSTRAINT [FK_CompraSpot_Proveedor]
GO
ALTER TABLE [dbo].[Consumo]  WITH CHECK ADD  CONSTRAINT [FK_Consumo_Punto] FOREIGN KEY([Id_Punto])
REFERENCES [dbo].[Punto] ([Id_Punto])
GO
ALTER TABLE [dbo].[Consumo] CHECK CONSTRAINT [FK_Consumo_Punto]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_EstadoContrato] FOREIGN KEY([Id_EstadoContrato])
REFERENCES [dbo].[EstadoContrato] ([Id_EstadoContrato])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_EstadoContrato]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Moneda] FOREIGN KEY([Id_Moneda])
REFERENCES [dbo].[Moneda] ([ID_Moneda])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Moneda]
GO
ALTER TABLE [dbo].[ContratoPlanta]  WITH CHECK ADD  CONSTRAINT [FK_ContratoPlanta_Contrato] FOREIGN KEY([ID_Contrato])
REFERENCES [dbo].[Contrato] ([Id_Contrato])
GO
ALTER TABLE [dbo].[ContratoPlanta] CHECK CONSTRAINT [FK_ContratoPlanta_Contrato]
GO
ALTER TABLE [dbo].[ContratoPlanta]  WITH CHECK ADD  CONSTRAINT [FK_ContratoPlanta_Planta] FOREIGN KEY([ID_Planta])
REFERENCES [dbo].[Planta] ([ID_Planta])
GO
ALTER TABLE [dbo].[ContratoPlanta] CHECK CONSTRAINT [FK_ContratoPlanta_Planta]
GO
ALTER TABLE [dbo].[Productor]  WITH CHECK ADD  CONSTRAINT [FK_Productor_EntidadLegal] FOREIGN KEY([Id_Productor])
REFERENCES [dbo].[EntidadLegal] ([Id_EntidadLegal])
GO
ALTER TABLE [dbo].[Productor] CHECK CONSTRAINT [FK_Productor_EntidadLegal]
GO
ALTER TABLE [dbo].[Punto]  WITH CHECK ADD  CONSTRAINT [FK_Punto_Gasoducto] FOREIGN KEY([ID_Gasoducto])
REFERENCES [dbo].[Gasoducto] ([ID_Gasoducto])
GO
ALTER TABLE [dbo].[Punto] CHECK CONSTRAINT [FK_Punto_Gasoducto]
GO
ALTER TABLE [dbo].[Punto]  WITH CHECK ADD  CONSTRAINT [FK_Punto_Planta] FOREIGN KEY([ID_Planta])
REFERENCES [dbo].[Planta] ([ID_Planta])
GO
ALTER TABLE [dbo].[Punto] CHECK CONSTRAINT [FK_Punto_Planta]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_Contrato] FOREIGN KEY([ID_Contrato])
REFERENCES [dbo].[Contrato] ([Id_Contrato])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_Contrato]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_PuntoEntrega] FOREIGN KEY([ID_PuntoEntrega])
REFERENCES [dbo].[Punto] ([Id_Punto])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_PuntoEntrega]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_PuntoRecepcion] FOREIGN KEY([ID_PuntoRecepcion])
REFERENCES [dbo].[Punto] ([Id_Punto])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_PuntoRecepcion]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_TipoServicioTransporte] FOREIGN KEY([ID_TipoServicioTransporte])
REFERENCES [dbo].[TipoServicioTransporte] ([ID_TipoServicioTransporte])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_TipoServicioTransporte]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_UnidadEnergia] FOREIGN KEY([ID_UnidadEnergia])
REFERENCES [dbo].[UnidadEnergia] ([Id_UnidadEnergia])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_UnidadEnergia]
GO
ALTER TABLE [dbo].[Ruta]  WITH CHECK ADD  CONSTRAINT [FK_Ruta_UnidadPrecioEnergia] FOREIGN KEY([Id_UnidadPrecioEnergia])
REFERENCES [dbo].[UnidadPrecioEnergia] ([Id_UnidadPrecioEnergia])
GO
ALTER TABLE [dbo].[Ruta] CHECK CONSTRAINT [FK_Ruta_UnidadPrecioEnergia]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_IndicePrecio] FOREIGN KEY([Id_IndicePrecio])
REFERENCES [platts].[IndicePrecio] ([ID_IndicePrecio])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_IndicePrecio]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Moneda_Id_MonedaPrecioFijo] FOREIGN KEY([Id_MonedaPrecioFijo])
REFERENCES [dbo].[Moneda] ([ID_Moneda])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Moneda_Id_MonedaPrecioFijo]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Punto] FOREIGN KEY([Id_PuntoEntrega])
REFERENCES [dbo].[Punto] ([Id_Punto])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Punto]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadEnergia_Id_UnidadEnergiaVolumen] FOREIGN KEY([Id_UnidadEnergiaVolumen])
REFERENCES [dbo].[UnidadEnergia] ([Id_UnidadEnergia])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadEnergia_Id_UnidadEnergiaVolumen]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadPrecioEnergia_Id_UnidadPrecioEnergiaAdder] FOREIGN KEY([Id_UnidadPrecioEnergiaAdder])
REFERENCES [dbo].[UnidadPrecioEnergia] ([Id_UnidadPrecioEnergia])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadPrecioEnergia_Id_UnidadPrecioEnergiaAdder]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_TipoServicio] FOREIGN KEY([Id_TipoServicio])
REFERENCES [dbo].[TipoServicio] ([Id_TipoServicio])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transacciones_TipoServicio]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_TipoTransaccion] FOREIGN KEY([Id_TipoTransaccion])
REFERENCES [dbo].[TipoTransaccion] ([Id_TipoTransaccion])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transacciones_TipoTransaccion]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [CK_ContratoVigenciaDesdeHasta] CHECK  (([VigenciaHasta]>=[VigenciaDesde]))
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [CK_ContratoVigenciaDesdeHasta]
GO
ALTER TABLE [dbo].[TipoPunto]  WITH CHECK ADD  CONSTRAINT [CK_TipoPunto_Rol] CHECK  (([Rol]='A' OR [Rol]='E' OR [Rol]='R'))
GO
ALTER TABLE [dbo].[TipoPunto] CHECK CONSTRAINT [CK_TipoPunto_Rol]
GO
